<div ng-include="'sidebar.html'"></div>
<div class="wrapper ">
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="">Descarte</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="material-icons">notifications</i> Notificacoes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content mt-4">
            <div class="container-fluid">
                <div class="col-12 m-auto">
                    <h3>Recolhe pra mim?</h3>
                    <form ng-submit="descartar(produto)">
                        <select class="form-control mt-2 mb-2" ng-model="produto.tipo">
                            <option value="">Tipo de Produto</option>
                            <option value="LixoEletronico">Lixo Eletronico</option>
                            <option value="Latinha">Latinha</option>
                            <option value="GarrafaPet">Garrafa Pet</option>
                            <option value="Entulho">Entulho</option>
                            <option value="Plastico">Plastico</option>
                            <option value="Papelao">Papelao</option>
                        </select>
                        <div class="form-group mt-2 mb-2">
                            <input class="form-control" ng-model="produto.nome" placeholder="Produto">
                        </div>
                        <input class="form-control mt-2 mb-2" ng-model="produto.endereco" places-auto-complete component-restrictions="{country:'br'}" placeholder="Localizacao">
                        <input type="submit" class="btn btn-success bt-2 mb-2" value="Publicar">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>